body {
     /* background-color: #270949; */
    color: #270949;
    margin: 10px;
    margin-top: 0px;
    padding-top: 100px;
    padding: 50px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    
    }

    .App {
      display: flex;
      flex-direction: row;
      float: center;
      padding-left: 40px;
      margin-left: 90px;
    }

    .sideBar {
      display: flex;
      flex-direction: row;
      float: center;
      padding-left: 40px;
      margin-left: 90px;
    }

    .logo {
        width: 500px;
        height: 400px;
        padding: 10px;
        padding-right: 50px;
        margin: 10px;
    }
    
    /* .welcome {
      width: 250px;
      height: 150px;

        } */

    input {
      padding: 10px;
      margin: 10px;
      margin-left: 30px;
      padding-left: 30px;
    }    

    
    .form {
      background-color: #270949;
      height: 450px;
      width: 450px;
      color: white;
      margin: 30px;
      padding: 30px;
      border-bottom-left-radius: 50px;
      border-top-left-radius: 50px;
      border: 5px solid  ;
      display: flex;
      float: right;
      position: relative;
      
    }

  .button {
    float: right;
    border: none;
    color:#270949;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 25px;
    margin-right: 15px;
  }  

  .button:hover {
    background-color: #3e8e41;
    color: white;
    font-size: 20px;
    border-radius: 50%;

  }

  .button:active {
    transform: translateY(4px);
  }
    
  .radio {
    padding-left: 30px;
  }

  .para {
    margin-left: 10px;
    padding-left: 55px;
    padding-top: 0px ;
    padding-bottom: 0px;
  }

  .log{
    text-decoration: none;
  }

  .log:hover {
    font-size: 30px;
  }

  .upHeader {
       margin-left: 45px;
  }

  .logInForm{
    background-color: #270949;
      height: 250px;
      width: 250px;
      color: white;
      margin: 40px;
      padding: 30px;
      border-bottom-left-radius: 50px;
      border-top-left-radius: 50px;
      border-top-right-radius: 50px;
      border: 5px solid  ;
      display: flex;
      position: relative;

  }

  /* Media Queries for responsiveness */

  @media screen and (max-width: 1200px){
   .App {
    display: flex;
    flex-direction: column;
    float: center;
   }

  .logo {
    width: 500px;
    height: 400px;
    
    
  }

  .logInForm{
    background-color: #270949;
      height: 250px;
      width: 250px;
      color: green;
      padding: 30px;
      border-bottom-left-radius: 50px;
      border-top-left-radius: 50px;
      border-top-right-radius: 50px;
      border: 5px solid  ;
      display: flex;
      position: relative;

  }

  body {
  /* background-color: #270949; */
   color: #270949;
   margin: 0px;
   margin-top: 0px;
   padding-top: 0px;
   padding: 0px;
   font-family: 'Courier New', Courier, monospace;
   font-size: 25px;
   
  }
}