{% extends "base.html" %}

{% load static %}
{% block content %}

<div id="add_form_grid" class="form">
<div class="add_form">
    <form method="post" id="speaker" action="{% url 'addSpeaker' %}">
        <table>
        <th>Register a new speaker</th>

            {{speaker_form.as_table}}
            <tr>
                <td></td>
                <td><input type="submit" class="button" name="speaker-form" value="Submit"></td>
            </tr>
        </table>
        {% csrf_token %}
    </form>
</div>
</div>
{% endblock %}