{% extends "base.html" %}

{% load static %}
{% block content %}
<div>
<div id="booking_dashboard" >

    <form id="event" method="post" action="{% url 'booking' %}">
        <h3>Create a new event</h3>
        <table>
            {{event_form.as_table}}
            <tr>
                <td></td>
                <td><input type="submit" class="button" name="event-form" value="Submit"></td>
            </tr>
        </table>
        {% csrf_token %}
    </form>
    <form method="post" id="location" action="{% url 'booking' %}">
        <h3>Create a new location</h3>
        <table>{{location_form.as_table}}
            <tr>
                <td></td>
                <td><input type="submit" class="button" value="Submit" name="location-form"></td>
            </tr>
        </table>
        {% csrf_token %}
    </form>

    <form method="post" id="speaker" action="{% url 'booking' %}">
        <h3>Register a new speaker</h3>
        <table>
            {{speaker_form.as_table}}
            <tr>
                <td></td>
                <td><input type="submit" class="button" name="speaker-form" value="Submit"></td>
            </tr>
        </table>
        {% csrf_token %}
    </form>

    <form method="post" id="session" action="{% url 'booking' %}">
        <h3>Create a new type of session</h3>
        <table>
            {{session_form.as_table}}
            <tr>
                <td></td>
                <td><input type="submit" class="button" name="session-form" value="Submit"></td>
            </tr>
        </table>
        {% csrf_token %}
    </form>

    <form method="post" id="booking" action="{% url 'booking' %}">
        <h3>Book an event</h3>
        <table>
            {{booking_form.as_table}}
            <tr>
                <td></td>
                <td><input type="submit" class="button" name="booking-form" value="Submit"></td>
            </tr>
        </table>
        {% csrf_token %}
    </form>
</div>
</div>
{% endblock %}