{% extends "base.html" %}

{% load static %}
{% block content %}
{% if speaker %}
<div id="main-table">
    <table class="show-table">
    
    <caption>Speaker</caption>
    <thead>
        <tr>
            <th>name</th>
            <th>phone number</th>
            <th>email</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for speaker in page_obj %}
        <tr>
            <td>{{speaker.name}}</td>
            <td>{{speaker.phone_number}}</td>
            <td>{{speaker.email}}</td>
            <th><form action="{% url 'updateSpeaker' speaker.id %}" method="get">{% csrf_token %}<input class="edit" type="submit" value="Edit"></form></th>
            <th><form action="{% url 'deleteSpeaker' speaker.id %}" method="post">{% csrf_token %}<input class="delete" type="submit" value="Delete"></form></th>
            {% endfor %}
        </tr>
    </tbody>
</table>


<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
        <a href="?page=1">&laquo; first</a>
        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">next</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
</div>



{% endif %}

{% endblock %}