body {
     /* background-color: #270949; */
    color: #270949;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    
    }


    
    /* .welcome {
      width: 250px;
      height: 150px;

        } */

    input {
      padding: 0.8em;
      margin: 0.8em;
      margin-left: 1em;
      padding-left: 1em;
    }    
    /* padding: 2.5%;
    margin: 2.5%;
    margin-left: 5%;
    padding-left:5% */
     
    .form {
      background-color: #270949;
      height: auto;
      width: fit-content;
      color: white;
      margin: 1.0em;
      padding: 1.0em;
      border-bottom-left-radius: 10%;
      border-top-left-radius: 10%;
      border: 20% solid  ;
      display: flex;
      float: right;
      position: relative;
      align-self: center;
      left:12%;
      
    }
 
  button {
    border: none;
    color:#270949;
    padding: 10px 82px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    }  
    
  .radio {
    padding-left: 35px;
  }

  button {
    height: 110px;
    width: 300px;
    padding: 32px 16px;
    font-size: 30px;
    color: white;
    background-color: rgb(16, 73, 35);
    display: flex;
    flex-flow: column;
    flex-direction: column;
    border-radius: 5px; 
    margin-left: 100px ;
   
}

.button:hover-zoom {
    background-color: #3e8e41;
    color: white;
    border-radius: 40%;


  }

  button:active {
    transform: translateY(4px);
  }




.landingNav {
    /* background-color: #270949; */
    height: 60px;
    width: 100%;
    /* position: fixed; */
    margin-bottom: 70px;
} 

.logo{
    height: 100px;
    width: 150px;  
    margin: 10px;
}
/* .event {
    
} */

.eventDetails {
    /* background-color: #270949; */
    height: 500px;
    width: 700px;
    margin-right: 200px;
    /* margin-top: 100px; */
    color: #270949;
    margin-left: 0px;
   

}

.honu {
    height: 400px ;
    width: 400px;

}
h1 {
    margin-top: 0px;
    margin-left:65px ;
}

.speaker {
    /* height: 350px; */
    width: 600px;
    color: #270949;
    margin-left: 300px;
    margin-right: 0px;
    /* margin-top: 100px; */
    
}

.details {
    align-items: center;
    align-content: center;
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    flex-flow: row;
    justify-content: center;
    
}


figcaption {
    font-size: 23px;
    margin-top: 15px;
    margin-right: 40px;


}
table {
    font-size:25px ;
    padding: 10px;
    margin: 10px;
    width: 600px;
}

.info {
    font-weight: bolder;
}

li {
    font-size: 25px;
    list-style: none;
    padding: 10px;
}
.btn{
    height: 50px;
    width: 120px;
    font-size: 20px;
    color: white;
    background-color: rgb(16, 16, 73);
    /* float: right; */
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 25px;
    margin-top: 15px;
    margin-left: 340px;
}

.btn:hover {
    background-color: #3e8e41;
    color: white;
    font-size: 20px;
    border-radius: 40%;

  }

  .btn:active {
    transform: translateY(4px);
  }

  .sideBar {
      height: 400px;
      width: 500px ;
      background-color: #3e8e41;
  }

 .eve {
      height: 300px;
      width: 400px;
      margin: 20px;


  }

  .listImage {
      margin-left: 200px;
  }

  .up {
      position: center;
      align-content: center;
      margin-left: 300px;
  }



  .landingContentent {

    align-items: center;
    align-content: center;
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    flex-flow: row;
    justify-content: center;

  }

 .navLogo{
     height: 60px;
     padding: 10px;
     border-radius: 25px;
 }

/* 
  .menu {
    background-color: #270949;
    color: white;
    box-shadow: 0px 2px 24px 0px rgba(175, 156, 156, 0.15);
    border-radius: 20px;
    width: 770px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    position: relative;
    margin-left: 350px;
} */

.menuList {
    list-style-type: none;
    padding: 0;
    height: 100%;
    margin: 0;
    
    
}

.menuListItem {
    border-radius: 3px;
    position:relative;
    left:200%;
    display: inline-block;
    height: 40%;
    width:auto;
    margin-right: 20px;
    margin-top:15px ;
    font-size: 12px;
    color: white;
    border:white;
    background-color: #270949;
    
}


.menuListItem:last-child {
    margin-right: 0;
}

.menuLink {

    color: white;
    text-decoration:none ;
    text-transform: uppercase;
}

.menuDiv {
    position: relative;
    left: 30%;
    text-decoration: none;
    display: flex;
    align-items: center;
    
} 


@media screen and (max-width: 800px){
    .details {
     display: flex;
     flex-direction: column;
     flex-flow: column;

    }

    .landingContentent {
        display: flex;
        flex-direction: column;
        flex-flow: column;
    
      }
 

     
   
 }