{% extends "base.html" %}

{% load static %}
{% block content %}
<div id="add_form_grid" class="form">
<div class="add_form">
    <form method="post" id="session" action="{% url 'addSession' %}">
        <table>
        <th>Create a new type of session</th>

            {{session_form.as_table}}
            <tr>
                <td></td>
                <td><input type="submit" class="button" name="session-form" value="Submit"></td>
            </tr>
        </table>
        {% csrf_token %}
    </form>
</div>
</div>

{% endblock %}