{% extends "base.html" %}

{% load static %}
{% block content %}
{% if events %}
<div id="main-table">
    <table class="show-table">
    
    <caption>Events</caption>
    <thead>
        <tr>
            <th>location</th>
            <th>name</th>
            <th>tag line</th>
            <th>title</th>
            <th>start time</th>
            <th>end time</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for event in page_obj %}
        <tr>
            <td>{{event.location }}</td>
            <td>{{event.name}}</td>
            <td>{{event.tag_line}}</td>
            <td>{{event.title}}</td>
            <td>{{event.start_date}} {{event.start_hour}} {{event.start_minutes}} </td>
            <td>{{event.end_date}} {{event.end_hour}} {{event.end_minutes}} </td>
            <th><form action="{% url 'updateEvent' event.id %}" method="get">{% csrf_token %}<input class="edit" type="submit" value="Edit"></form></th>
            <th><form action="{% url 'deleteEvent' event.id %}" method="post">{% csrf_token %}<input class="delete" type="submit" value="Delete"></form></th>
            {% endfor %}
        </tr>
    </tbody>
</table>


<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
        <a href="?page=1">&laquo; first</a>
        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">next</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
</div>



{% endif %}

{% endblock %}