{% extends "base.html" %}

{% load static %}
{% block content %}
<div id="add_form_grid"  class="form">

<div class="add_form">
    <form id="speaker" class="form" method="post" >
        <table>
        <th> Update speaker</th>

            {{form.as_table}}
            <tr>
                <td></td>
                <td><input type="submit" class="button" name="speaker-form" value="Submit"></td>
            </tr>
        </table>
        {% csrf_token %}
    </form>
</div>
</div>
{% endblock %}