body {
     /* background-color: #270949; */
    color: #270949;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    
    }


    .logo {
        grid-area:logo;
        width: 50vh;
        height: 100%;
        padding: 0.02%;
        padding-right: 0.1%;
        margin: 0.02%;
    }
    
    /* .welcome {
      width: 250px;
      height: 150px;

        } */

    input {
      padding: 0.8em;
      margin: 0.8em;
      margin-left: 1em;
      padding-left: 1em;
    }    
    /* padding: 2.5%;
    margin: 2.5%;
    margin-left: 5%;
    padding-left:5% */
     
    .form {
    
      background-color: #270949;
      height: 100%;
      width: 60%;
      color: white;
      margin: 1.2em;
      padding: 1.2em;
      border-bottom-left-radius: 10%;
      border-top-left-radius: 10%;
      border: 20% solid  ;
      display: flex;
      float: right;
      position: relative;
      
    }

  .button {
    float: right;
    border: none;
    color:#270949;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    }  
    
  .radio {
    padding-left: 35px;
  }