<style>
    body {
     /* background-color: #270949; */
    color: #270949;
    margin: 10px;
    padding-top: 300px;
    padding: 50px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    
    }

    .App {
      display: flex;
      flex-direction: row;
      float: center;
      padding-left: 40px;
      margin-left: 90px;
    }

    .logo {
        width: 500px;
        height: 500px;
        padding: 10px;
        padding-right: 50px;
        margin: 10px;
    }
    
    /* .welcome {
      width: 250px;
      height: 150px;

        } */

    input {
      padding: 10px;
      margin: 10px;
      margin-left: 20px;
      padding-left: 20;
    }    

    
    .form {
      background-color: #270949;
      height: 450px;
      width: 450px;
      color: white;
      margin: 30px;
      padding: 30px;
      border-bottom-left-radius: 50px;
      border-top-left-radius: 50px;
      border: 5px solid  ;
      display: flex;
      float: right;
      position: relative;
      
    }

  .button {
    border: none;
    color:#270949;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }  
    
  .radio {
    padding-left: 35px;
  }
</style>
{% if user.is_authenticated %}
<p>Welcome {{ user.username }} ,you have been logged in </p>       
{% endif %}
