{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'style.css' %}" rel="stylesheet">
</head>

<body>
    <nav class="menu">
        <div class="logo1">
            <img src="{% static 'img/logo.svg' %}" alt="" srcset="" id="pic_logo">
        </div>
        <a href="{% url 'booking' %}">Show Booking</a>
        <a href="{% url 'events' %}">Show Events</a>
        <a href="{% url 'location' %}">Show Locations</a>
        <a href="{% url 'speaker' %}">Show Speakers</a>
        <a href="{% url 'bookingDashboard' %}">All</a>
        <a href="{% url 'addBooking' %}">Add Booking</a>
        <a href="{% url 'addEvent' %}">Add Event</a>
        <a href="{% url 'addLocation' %}">Add Location</a>
        <a href="{% url 'addSpeaker' %}">Add Speaker</a>
     </nav>
    {% block content %}
    {% endblock %}

</body>